:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --buttons-color: #f5f4fa;
  --complementary-color: #ffffff;
  --hover-focus-color: #188ce8;
}

body {
  color: var(--main-text-color);
  background-color: var(--complementary-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--complementary-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-footer {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.navigation-links {
  list-style-type: none;
}

.link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}

.addres-link {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.addres-link:hover {
  color: var(--accent-color);
}
.addres-link:focus {
  color: var(--accent-color);
}

.link-active:active {
  color: var(--accent-color);
}

.link-active {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-active:hover {
  color: var(--title-color);
}
.link-active:focus {
  color: var(--title-color);
}

.hero-section {
  background-color: #2f303a;
  height: 600px;
  width: 1600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  color: var(--complementary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--complementary-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover {
  color: var(--complementary-color);
  background-color: var(--hover-focus-color);
}

.hero-button:focus {
  color: var(--complementary-color);
  background-color: var(--hover-focus-color);
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  list-style-type: none;
}

.footer-section {
  background-color: #2f303a;
}

.list-links {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.71;
}

.footer-links {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-address {
  color: var(--complementary-color);
  text-decoration: none;
  font-style: normal;
}
.button {
  color: var(--title-color);
  background-color: var(--buttons-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit.;
}

.button:hover {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}
.button-list {
  list-style-type: none;
  font-family: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.about-us-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-us-text {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.filtr-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filtr-text {
  font-size: 16px;
  line-height: 1.87;
}

.names-of-team {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.position-of-team {
  font-size: 16px;
  line-height: 1.18;
}

.team {
  list-style-type: none;
}
